/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #13262F;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #e2e3ed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
  margin: 0;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: normal;
  margin: 20px 0;
}

p {
  font-size: .875em;
  line-height: 1.285;
}

img {
	width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 25px 0;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 15px 0;
  flex-flow: row wrap;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.header-divider {
  background: #3a3a3a;
  width: 100%;
  height: 3px;
  margin: 10px 0 20px 0;
}

header nav {
  font-size: 1.125em;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header nav ul li {
  font-size: 1.125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
  padding: 0 10px;
  text-decoration: none;
  color: #B4ADA3;
}

footer {
  flex-flow: column wrap;
  text-align: center;
}

footer .content-wrapper {
  width: 55%;
  margin: 20px 0;
  color: #202322;
}

footer .footer-content {
  display: flex;
  flex-flow: column wrap;
}

footer p {
  margin: 0;
}

footer .contact {
  margin-bottom: 30px;
}

footer .social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}


footer .copyright {
  margin: 20px 0;
}

/*----Mobile Style----*/

.content-wrapper {
  width: 90%;
  margin: 20px 0;
}

.tagline-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url("../img/cowork.jpg")center no-repeat #333;
  background-size: cover;
  min-height: 500px;
}

.tagline-section h1 {
  font-size: 2.25em;
  color: white;
}

aside {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.form-description {}

  aside .form {
    margin-top: 30px;
    display: flex;
justify-content: center;
align-items: flex-start;
flex-flow: column wrap;
  }

  input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: url("../img/post-it-edit.png")center no-repeat #333;
  background-size: cover;
  color: #202322;
}


.features h2 {
  margin: 20px 0;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.features i {
	font-size: 4em;
        margin-bottom: 10px;
        color: #B4ADA3;
}

.features article {
  width: 63%;
  padding: 30px 0;
}



.features .features-description {
  margin: 0;
  text-transform: capitalize;
}

.about {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.about h2 {
  width: 55%;
  margin: 20px 0;
  color: white;
}

.about h3 {
  color: white;
}

.social-media i {
	font-size: 3em;
        margin-bottom: 10px;
        color: #527158;
}

/*---About Page----*/

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


/*---FAQ Page----*/

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}


@media only screen and (min-width: 768px) {
/*Tablet styles here*/

.content-wrapper {
  max-width: 640px;
  margin: 50px 0;
}

header {
  justify-content: space-around;
  padding: 33px 0;
    }

header .content-wrapper {
    width: 100%;
    justify-content: space-between;
}

header nav {
    width: 30%;
}

header nav ul {
  justify-content: space-between;
}

.header-divider {
    display: none;
}


aside .content-wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

aside .content-wrapper .form-description
aside .content-wrapper .form {
  width: 35%;
  margin: 0;
}

aside .form {
  margin-top: 0;
}

.features article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.features .features-description {
  width: 50%;
}

.about figure {
  width: 42%;
}

.about article {
  display: flex;
  justify-content: space-between;
}

.about .bio {
  padding: 0 50px;
}

footer .content-wrapper {
  width: 65%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h2 {
  margin: 20px 0;
}

footer .social-icons {
  width: 12.5em;
}

footer .copyright {
  width: 100%;
}


.mission-content {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;
}
}

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/
}

header figure{
  margin: 0 25px;
}

header nav {
  width: 20%;
margin: 0 55px;
}

.content-wrapper {
  max-width: 960px;
  margin: 50px 0;
}

aside .content-wrapper {
  justify-content: space-around;
}

aside .form {
  align-items: flex-start;
}

.features h2 {
    width: 70%;
}

.about figure {
margin-inline-end: 40px;
width: 35%;
}

.about article div {
    width: 42%;
}

.about .content-wrapper {
  justify-content: space-around;
}




@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
     *,
     *:before,
     *:after {
       background: transparent !important;
       color: #000 !important;
       /* Black prints faster */
       box-shadow: none !important;
       text-shadow: none !important;
     }
     a,
     a:visited {
       text-decoration: underline;
     }
     a[href]:after {
       content: " (" attr(href) ")";
     }
     abbr[title]:after {
       content: " (" attr(title) ")";
     }
     /*
        * Don't show links that are fragment identifiers,
        * or use the `javascript:` pseudo protocol
        */
     a[href^="#"]:after,
     a[href^="javascript:"]:after {
       content: "";
     }
     pre {
       white-space: pre-wrap !important;
     }
     pre,
     blockquote {
       border: 1px solid #999;
       page-break-inside: avoid;
     }
     /*
        * Printing Tables:
        * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
        */
     thead {
       display: table-header-group;
     }
     tr,
     img {
       page-break-inside: avoid;
     }
     p,
     h2,
     h3 {
       orphans: 3;
       widows: 3;
     }
     h2,
     h3 {
       page-break-after: avoid;
     }
   }
